<div class="appContainer">
  <h4 class="text-right"> تنظیمات وقت دهی {{userName}}</h4>
  <hr>

  <div class="item-box">
    <div class="header">
      <h6 class="mb-0 p-2"> تنظیمات وقت دهی بر اساس مکان </h6>
    </div>
    <div>
      <form class="d-lg-flex align-items-center g-2 my-3">
        <div class="col">
          <p-dropdown optionLabel="name" dataKey="id" [options]="clinicsList" placeholder="مکان"
            [(ngModel)]="selectedClinic" class=" text-right" [ngModelOptions]="{ standalone: true }" />
        </div>
        <div class="col">
          <select [(ngModel)]="defaultType" [ngModelOptions]="{ standalone: true }" class="form-select form-control">
            <option value=null> نوع وقت دهی پیش فرض</option>
            <option *ngFor="let item of appointmentTypes" [value]="item.id">{{item.name}}</option>
          </select>
        </div>
        <div class="col">
          <select [(ngModel)]="defaultNewPatientType" [ngModelOptions]="{ standalone: true }"
            class="form-select form-control">
            <option value=null> نوع وقت دهی بیمار جدید</option>
            <option *ngFor="let item of appointmentTypes" [value]="item.id">{{item.name}}</option>
          </select>
        </div>

        <div class="col">
          <input type="number" class="form-control" [(ngModel)]="numberOutTurn" [ngModelOptions]="{ standalone: true }"
            placeholder=" تعداد خارج از نوبت">
        </div>

        <div class="col">
          <select [(ngModel)]="minuteSelected" [ngModelOptions]="{ standalone: true }" class="form-select form-control">
            <option value=null> تعداد دقایق ملاقات</option>
            <option *ngFor="let item of minutes" [value]="item">{{item}}</option>
          </select>
        </div>

        <div class="col">
          <select [(ngModel)]="calendarTimeFrom" [ngModelOptions]="{ standalone: true }"
            class="form-select form-control">
            <option value=null> نمایش وقت از ساعت</option>
            <option *ngFor="let item of times" [value]="item.id">{{item.label}}</option>
          </select>
        </div>

        <div class="col">
          <select [(ngModel)]="calendarTimeTo" [ngModelOptions]="{ standalone: true }" class="form-select form-control">
            <option value=null> نمایش وقت تا ساعت</option>
            <option *ngFor="let item of times" [value]="item.id">{{item.label}}</option>
          </select>
        </div>
        <div class="col d-flex">
          <input type="checkbox" class="ml-2" [(ngModel)]="multipleAppointment" [ngModelOptions]="{ standalone: true }">
          <label for="freeTimeCheckbox" class="form-label ms-2"> امکان داشتن بیش از یک وقت آزاد برای بیمار </label>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-sm btn-success" (click)="saveUserAppointmentsSettings()"> ذخیره</button>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="userAppointmentsList.length > 0" class="item-box mt-4">
    <div class="header">
      <h6 class="mb-0 p-2"> تنظیمات ثبت شده </h6>
    </div>
    <div *ngFor="let item of userAppointmentsList" class="mt-3">
      <form class="d-lg-flex align-items-center g-2 my-3">
        <div class="col">
          <p-dropdown optionLabel="name" dataKey="id" [options]="clinicsList" placeholder="مکان"
            [(ngModel)]="item.selectedClinics" class=" text-right" [ngModelOptions]="{ standalone: true }"
            [disabled]="true" />
        </div>
        <div class="col">
          <select [(ngModel)]="item.defaultAppointmentTypeId" [ngModelOptions]="{ standalone: true }" [disabled]="true"
            class="form-select form-control">
            <option value=null> نوع وقت دهی پیش فرض</option>
            <option *ngFor="let item of appointmentTypes" [value]="item.id">{{item.name}}</option>
          </select>
        </div>
        <div class="col">
          <select [(ngModel)]="item.newPatientAppointmentTypeId" [ngModelOptions]="{ standalone: true }"
            [disabled]="true" class="form-select form-control">
            <option value=null> نوع وقت دهی بیمار جدید</option>
            <option *ngFor="let item of appointmentTypes" [value]="item.id">{{item.name}}</option>
          </select>
        </div>

        <div class="col">
          <input type="number" class="form-control" [(ngModel)]="item.outOfTurn" [ngModelOptions]="{ standalone: true }"
            [disabled]="true" placeholder=" تعداد خارج از نوبت">
        </div>

        <div class="col">
          <select [(ngModel)]="item.timeSlotSize" [ngModelOptions]="{ standalone: true }" [disabled]="true"
            class="form-select form-control">
            <option value=null> تعداد دقایق ملاقات</option>
            <option *ngFor="let item of minutes" [value]="item">{{item}}</option>
          </select>
        </div>

        <div class="col">
          <select [(ngModel)]="item.calendarTimeFrom" [ngModelOptions]="{ standalone: true }" [disabled]="true"
            class="form-select form-control">
            <option value=null> نمایش وقت از ساعت</option>
            <option *ngFor="let item of times" [value]="item.id">{{item.label}}</option>
          </select>
        </div>

        <div class="col">
          <select [(ngModel)]="item.calendarTimeTo" [ngModelOptions]="{ standalone: true }" [disabled]="true"
            class="form-select form-control">
            <option value=null> نمایش وقت تا ساعت</option>
            <option *ngFor="let item of times" [value]="item.id">{{item.label}}</option>
          </select>
        </div>
        <div class="col d-flex">
          <input type="checkbox" class="ml-2" [(ngModel)]="item.multipleAppointment"
            [ngModelOptions]="{ standalone: true }" [disabled]="true">
          <label for="freeTimeCheckbox" class="form-label ms-2"> امکان داشتن بیش از یک وقت آزاد برای بیمار </label>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-sm btn-danger" (click)="edit(item)"> ویرایش</button>
        </div>
      </form>
    </div>
  </div>