.item-box {
    border-radius: 12px;
    border: 1px solid #ced4da;
    background-color: white;
    text-align: right;
    min-height: 8rem;

    .header {
        background-color: #00c4b41f;
        border-radius: 12px 12px 0px 0px;
        padding: 0.6rem;
        color: rgb(0 196 180);
        border-bottom: 1px solid #ced4da;
    }
}

h6 {
    color: rgb(0 196 180);
}