<div class="appContainer">
  <div class="col-12 text-right">
    <h4> صورت حساب ها</h4>
  </div>
  <hr>
  <div class="col-12">
    <button *ngIf="checkAccess(2)" class="btn btn-danger mb-3" routerLink="/new-invoice/n/n/n/n/n">صورت حساب جدید
      <!-- <i class="fa fa-plus" aria-hidden="true"></i> -->
    </button>

    <p-table *ngIf="checkAccess(1)" #dt styleClass="p-datatable-gridlines" [value]="InvoiceList" [autoLayout]="true" [paginator]="true"
      [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="نمایش {first} تا {last} "
      [rowsPerPageOptions]="[10,25,50]">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">
            <p-sortIcon field="id"></p-sortIcon> شماره
          </th>
          <th pSortableColumn="patientName">
            <p-sortIcon field="patientName"></p-sortIcon> بیمار
          </th>
          <th pSortableColumn="amount">
            <p-sortIcon field="amount"></p-sortIcon> مبلغ
          </th>
          <th pSortableColumn="businessName">
            <p-sortIcon field="businessName"></p-sortIcon> مکان
          </th>
          <th pSortableColumn="createdOn">
            <p-sortIcon field="createdOn"></p-sortIcon> تاریخ
          </th>
          <th> عملیات</th>
        </tr>
        <tr>
          <th>
            <input type="text" (input)="dt.filter($event.target?.value, 'id', 'contains')" class="form-control">
          </th>
          <th>
            <input type="text" (input)="dt.filter($event.target?.value, 'patientName', 'contains')"
              class="form-control">
          </th>
          <th></th>
          <th>
            <input type="text" (input)="dt.filter($event.target?.value, 'businessName', 'contains')"
              class="form-control">
          </th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td class="px-2">
            <div class="py-2 widthClassPrime">
              <span *ngIf="item.isCanceled" class="badge text-dark bg-warning px-1 mx-2 py-1 rounded-pill fw-bold">
                باطل شده
              </span>
              <span>{{item.id}}</span>
            </div>
          </td>
          <td class="px-2">
            <div class="py-2 widthClassPrime">
              <span>{{item.patientName}}</span>
            </div>
          </td>
          <td class="px-2">
            <div class="py-2 widthClassPrime">
              <span>{{item.amount}}</span>
            </div>
          </td>
          <td class="px-2">
            <div class="py-2 widthClassPrime">
              <span>{{item.businessName}}</span>
            </div>
          </td>
          <td class="px-2">
            <div class="py-2 widthClassPrime">
              <span>{{item.createdOn |JustDateZone}}</span>
            </div>
          </td>
          <td class="px-2">
            <button *ngIf="checkAccess(1)" class="btn btn-danger mx-2" (click)="goToEditPage(item.id , 1)">مشاهده</button>
            <button *ngIf="checkAccess(2)" class="btn btn-warning" (click)="goToEditPage(item.id ,2)">ویرایش</button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
