.checkBox-div {
  position: relative;
  border: 1px solid lightgray;
  border-radius: 8px;
  text-align: right;
  height: 100%;
}

.checkBox-div h6 {
  position: absolute;
  top: -12px;
  background-color: white;
}

.form-check-input {
  position: absolute;
  margin-top: .2rem;
  margin-right: -1.50rem;
  margin-left: 0 !important;
}

input[type=checkbox] {
  width: 18px;
  height: 18px;
}

.form-check input[type="checkbox"]:checked+.form-check-label {
  color: #72d9c5;
  font-weight: 500;
}

input[type="checkbox"]:checked {
  accent-color: #72d9c5;
}