<div class="login-container bg-cyan d-flex justify-content-center align-items-center">
  <div class="login-card bg-white d-flex flex-column">

    <div class="col-12 d-flex flex-column align-items-center my-3">
      <h4 class="m-0 title">تغییر پسورد</h4>
    </div>

    <!-- <h6 routerLink="/appointment" class="col-lg-10 col-12 mx-auto pointer">
      بازگشت
      <i class="fa fa-arrow-left"></i>
    </h6> -->

    <div class="col-12 d-flex flex-column align-items-center">
      <div class="col-12 col-md-10 input-container position-relative mt-4">
        <input type="text" name="userName" placeholder="" [(ngModel)]="model.userName" disabled>
        <label class="input-label" for="userName">نام کاربری</label>
      </div>
      <div class=" col-12 col-md-10 input-container position-relative mt-4">
        <input type="password" name="oldPassword" placeholder="" [(ngModel)]="model.oldPassword">
        <label class="input-label" for="oldPassword">رمز عبور</label>
      </div>
      <div class=" col-12 col-md-10 input-container position-relative mt-4">
        <input type="password" name="newPassword" placeholder="" [(ngModel)]="model.newPassword">
        <label class="input-label" for="newPassword">رمز عبور جدید</label>
      </div>
      <button class="btn login-btn text-light col-12 col-md-10 mt-3" (click)="changePassword()">تغییر رمز عبور</button>
    </div>
  </div>
</div>
