<div class="appContainer">
    <div class="col-12 text-right">
        <h4>نوع وقت دهی</h4>
    </div>
    <hr>
    <div *ngIf="checkAccess(2)" class="col-12 d-flex flex-wrap">
        <div class="col-md-4 col-12 mt-2 text-right">
            <label for="name">نام</label>
            <input name="name" type="text" [(ngModel)]="newType.name" class="form-control">
        </div>
        <div class="col-md-4 col-12 mt-2 text-right">
            <label for="description">توضیحات</label>
            <input name="description" type="text" [(ngModel)]="newType.description" class="form-control">
        </div>
        <div class="col-md-4 col-12 mt-2 text-right">
            <label for="duration" class="mr-2">مدت زمان</label>
            <input name="duration" type="text" [(ngModel)]="newType.duration" class="form-control">
        </div>
        <div class="col-md-4 col-12 mt-2 text-right">
            <label for="firstService" class="mr-2">خدمت مرتبط اول</label>
            <p-dropdown id="firstService" [options]="billableItems" [(ngModel)]="newType.firstService"
                optionLabel="name" class="full-width text-right" />
        </div>
        <div class="col-md-4 col-12 mt-2 text-right">
            <label for="secondService" class="mr-2">خدمت مرتبط دوم</label>
            <p-dropdown id="secondService" [options]="billableItems" [(ngModel)]="newType.secondService"
                optionLabel="name" class="full-width text-right" />
        </div>
        <div class="col-md-4 col-12 mt-2 text-right">
            <label for="thirdService" class="mr-2">خدمت مرتبط سوم</label>
            <p-dropdown id="thirdService" [options]="billableItems" [(ngModel)]="newType.thirdService"
                optionLabel="name" class="full-width text-right" />
        </div>
        <div class="col-md-4 col-12 mt-2 text-right">
            <label for="treatmentType" class="mr-2">فرم بالینی پیش فرض</label>
            <p-dropdown id="treatmentType" [options]="treatmentTypes" [(ngModel)]="newType.treatmentType"
                optionLabel="name" class="full-width text-right" />
        </div>
        <div class="col-md-4 col-12 mt-2 text-right">
            <label for="firstProduct" class="mr-2">کالای مرتبط اول</label>
            <p-dropdown id="firstProduct" [options]="productList" [(ngModel)]="newType.firstProduct" optionLabel="name"
                class="full-width text-right" />
        </div>
        <div class="col-md-4 col-12 mt-2 text-right">
            <label for="secondProduct" class="mr-2">کالای مرتبط دوم</label>
            <p-dropdown id="secondProduct" [options]="productList" [(ngModel)]="newType.secondProduct"
                optionLabel="name" class="full-width text-right" />
        </div>
        <div class="col-md-4 col-12 mt-2 text-right">
            <label for="thirdProduct" class="mr-2">کالای مرتبط سوم</label>
            <p-dropdown id="thirdProduct" [options]="productList" [(ngModel)]="newType.thirdProduct" optionLabel="name"
                class="full-width text-right" />
        </div>
        <div class="col-md-4 col-12 mt-2 text-right">
            <input type="checkbox" name="showInAppoinment" class="ml-1" [(ngModel)]="newType.showInAppoinment">
            <label for="showInAppoinment" class="mr-2">نمایش در وقت دهی آنلاین</label>
        </div>
        <div class="col-md-4 col-12 mt-2 text-right d-flex flex-column align-items-center">
            <label for="thirdProduct" class="mr-2 w-100">رنگ</label>
            <p-colorPicker [(ngModel)]="newType.typeColor" [ngModelOptions]="{standalone: true}" [inline]="true" />
        </div>
        <div class="text-center col-12 mb-3"><button class="btn btn-success" (click)="saveAppointmentType()">ذخیره</button></div>
        <hr>
    </div>
    <div  *ngIf="checkAccess(1)" class="col-12">
        <p-table #dt styleClass="p-datatable-gridlines" [value]="appointmentTypes" [autoLayout]="true"
            [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            currentPageReportTemplate="نمایش {first} تا {last} " [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header">
                <tr>
                    <th>#</th>
                    <th>عنوان</th>
                    <th>توضیحات</th>
                    <th>مدت زمان</th>
                    <th>خدمت مرتبط اول</th>
                    <th>خدمت مرتبط دوم</th>
                    <th>خدمت مرتبط سوم</th>
                    <th>فرم بالینی پیش فرض</th>
                    <th>کالای مرتبط اول</th>
                    <th>کالای مرتبط دوم</th>
                    <th>کالای مرتبط سوم</th>
                    <th> نمایش در وقت دهی آنلاین</th>
                    <th>رنگ</th>
                    <th>عملیات</th>
                </tr>
                <tr>
                    <th></th>
                    <th>
                        <input type="text" (input)="dt.filter($event.target?.value, 'name', 'contains')"
                            class="form-control">
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                <tr>
                    <td class="px-2">
                        <div class="py-2 widthClassPrime">
                            <span>{{rowIndex + 1}}</span>
                        </div>
                    </td>
                    <td class="px-2">
                        <div class="py-2 widthClassPrime">
                            <span>{{item.name}}</span>
                        </div>
                    </td>
                    <td class="px-2">
                        <div class="py-2 widthClassPrime">
                            <span>{{item.description}}</span>
                        </div>
                    </td>
                    <td class="px-2">
                        <div class="py-2 widthClassPrime">
                            <span>{{item.duration}}</span>
                        </div>
                    </td>
                    <td class="px-2">
                        <div class="py-2 widthClassPrime">
                            <span>{{item.relatedService1Name}}</span>
                        </div>
                    </td>
                    <td class="px-2">
                        <div class="py-2 widthClassPrime">
                            <span>{{item.relatedService2Name}}</span>
                        </div>
                    </td>
                    <td class="px-2">
                        <div class="py-2 widthClassPrime">
                            <span>{{item.relatedService3Name}}</span>
                        </div>
                    </td>
                    <td class="px-2">
                        <div class="py-2 widthClassPrime">
                            <span>{{item.defaultTreatmentNoteTemplateName}}</span>
                        </div>
                    </td>
                    <td class="px-2">
                        <div class="py-2 widthClassPrime">
                            <span>{{item.relatedProduct1Name}}</span>
                        </div>
                    </td>
                    <td class="px-2">
                        <div class="py-2 widthClassPrime">
                            <span>{{item.relatedProduct2Name}}</span>
                        </div>
                    </td>
                    <td class="px-2">
                        <div class="py-2 widthClassPrime">
                            <span>{{item.relatedProduct3Name}}</span>
                        </div>
                    </td>
                    <td class="px-2">
                        <div class="py-2 widthClassPrime">
                            <span>{{item.showInOnlineBookings ? 'بله' : 'خیر'}}</span>
                        </div>
                    </td>
                    <td class="px-2">
                        <div class="py-2 widthClassPrime">
                            <span>
                                <div class="d-flex align-items-center">
                                    <div class="type-color-box mr-2" [ngStyle]="{'background-color': item.color}"></div>
                                    <span>{{item.color}}</span>
                                </div>
                            </span>
                        </div>
                    </td>
                    <td class="px-2">
                        <button *ngIf="checkAccess(3)" class="btn btn-outline-danger mx-2" (click)="deleteType(item.id)">حذف</button>
                        <button *ngIf="checkAccess(2)" class="btn btn-outline-secondary mx-2" (click)="editType(item)">ویرایش</button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>