::ng-deep #create-expense-modal .p-dialog {
    min-width: 80% !important;
    min-height: 300px;
}

.select-btn {
    direction: ltr;
}

::ng-deep .select-btn .p-button {
    padding: 0.5rem 1.6rem;
}


::ng-deep .p-button:focus {
    box-shadow: none !important;
}

::ng-deep .p-selectbutton .p-button.p-highlight {
    background-color: #00c4b4;
    border: 1px solid #00c4b4;
}