<div class="appContainer">
  <div class="col-12 text-right">
    <h4> مکان ها</h4>
  </div>
  <hr>
  <div class="col-12">
    <button class="btn btn-danger mb-3" routerLink="/new-business"> مکان جدید
      <!-- <i class="fa fa-plus" aria-hidden="true"></i> -->
    </button>

    <p-table #dt styleClass="p-datatable-gridlines" [value]="clinicsList" [autoLayout]="true" [paginator]="true"
      [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="نمایش {first} تا {last} "
      [rowsPerPageOptions]="[10,25,50]">
      <ng-template pTemplate="header">
        <tr>
          <th> ایدی</th>
          <th> عنوان</th>
          <th> آدرس</th>
          <th> تاریخ ایجاد</th>
          <th>شماره تماس</th>
          <th> شهر</th>
          <th> ارسال پیامک</th>
          <th> عملیات</th>
        </tr>
        <tr>
          <th>
            <input type="text" (input)="dt.filter($event.target?.value, 'id', 'contains')" class="form-control">
          </th>
          <th>
            <input type="text" (input)="dt.filter($event.target?.value, 'name', 'contains')" class="form-control">
          </th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td class="px-2">
            <div class="py-2 widthClassPrime">
              <span>{{item.id}}</span>
            </div>
          </td>
          <td class="px-2">
            <div class="py-2 widthClassPrime">
              <span>{{item.name}}</span>
            </div>
          </td>
          <td class="px-2">
            <div class="py-2 widthClassPrime">
              <span>{{item.address}}</span>
            </div>
          </td>
          <td class="px-2">
            <div class="py-2 widthClassPrime">
              <span>{{item.createdOn |JustDateZone}}</span>
            </div>
          </td>
          <td class="px-2">
            <div class="py-2 widthClassPrime">
              <span>{{item.city}}</span>
            </div>
          </td>
          <td class="px-2">
            <div class="py-2 widthClassPrime">
              <span>{{item.contactInformation}}</span>
            </div>
          </td>
          <td class="px-2">
            <div class="py-2 widthClassPrime">
              <span>{{item.smsEnabled?"بله":"خیر"}}</span>
            </div>
          </td>

          <td class="px-2">
            <button class="btn btn-warning" (click)="goToNewBusiness(item.id)">ویرایش</button>
            <button class="btn btn-outline-secondary mx-2" (click)="deleteBusiness(item.id)">حذف</button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
