<header>
  <div class="navbar d-flex justify-content-between" [ngClass]="{'mobile-nav': isMobileSize}">
    <div class="col-6 d-flex justify-content-start">
      <!-- <div [ngClass]="{'d-none' : isMobileSize}" class="search-container p-2 px-3">
        <i class="fa fa-search ml-3"></i>
        <input type="text" placeholder="جست و جو ...">
      </div> -->
      <div *ngIf="isMobileSize" [ngClass]="{'d-none' : openSidebar}" (click)="openSidebar = true"
        class="d-flex align-items-center ml-3 text-00c4b4">
        <i class="fa fa-2x fa-bars" aria-hidden="true"></i>
      </div>
      <img [ngClass]="{'closed-sidebar d-none' : openSidebar}" src="assets/images/logo.png" alt="Logo" width="100">
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center">
      <!-- <div class="navbar-item mx-2 d-flex justify-content-center align-items-center pointer">
        <i class="fa fa-bell-o text-white" aria-hidden="true"></i>
      </div> -->
      <div routerLink="/change-password"
        class="profile-avatar pointer d-flex justify-content-center align-items-center">
        <i class="fa fa-2 fa-user text-white" aria-hidden="true"></i>
      </div>
      <p class="m-0">{{userName}}</p>

    </div>
  </div>
</header>

<div [ngClass]="{'closed-sidebar d-none' : !openSidebar}" class="sidebar d-flex flex-column">

  <div class="w-100 logo-container d-flex justify-content-center align-items-center">
    <img [ngClass]="{'closed-sidebar d-none' : !openSidebar}" src="assets/images/logo.png" alt="Logo" width="50">
    <div (click)="openSidebar = false">
      <i *ngIf="isMobileSize" class="fa fa-2x fa-times text-white mr-3" aria-hidden="true"></i>
    </div>
  </div>
  <div [ngClass]="{'closed-sidebar d-none' : !openSidebar}" class="main-sidebar">
    <div class="sidebar-items mx-2 mt-3">
      <div *ngFor="let item of sidebarMenu"
        [ngClass]="{'selected-sidebar-menu text-dark': selectedPatientSideBarItem == item.id}"
        class="sidebar-item d-flex align-items-center pointer mt-3 p-2 text-white" [routerLink]="item.link"
        (click)="selectedPatientSideBarItem = item.id;mobileSideBarClose()">
        <div class=" sidebar-item-icon-containter d-flex justify-content-center align-items-center ml-2">
          <i class="{{item.icon}} sidebar-item-icon"
            [ngClass]="{'text-dark': selectedSideBarItem == item.id, 'text-white': selectedSideBarItem != item.id}"
            aria-hidden="true"></i>
        </div>
        <p class="m-0">{{item.text}}</p>
      </div>
    </div>
    <div>
      <!-- setting Menu -->
      <div *ngIf="settingMenu.length > 0" class="d-flex sidebar-item align-items-center pointer mt-3 p-2 text-white"
        [ngClass]="{'text-dark selected-sidebar-menu' : openSettingMenu}">
        <i *ngIf="!openSettingMenu" class="fa fa-angle-down mx-2"></i>
        <i *ngIf="openSettingMenu" class="fa fa-angle-up mx-2"></i>
        <p class="m-0" (click)="openSettingMenu = !openSettingMenu">تنظیمات</p>
      </div>
      <div [ngClass]="{'open-menu d-none': !openSettingMenu}" class="mr-3">
        <div *ngFor="let item of settingMenu"
          [ngClass]="{'selected-sidebar-menu text-dark': selectedPatientSideBarItem == item.id}"
          class="sidebar-item d-flex align-items-center pointer mt-3 p-2 text-white" [routerLink]="item.link"
          (click)="selectedPatientSideBarItem = item.id;mobileSideBarClose()">
          <div class=" sidebar-item-icon-containter d-flex justify-content-center align-items-center ml-2">
            <i class="{{item.icon}} sidebar-item-icon"
              [ngClass]="{'text-dark': selectedSideBarItem == item.id, 'text-white': selectedSideBarItem != item.id}"
              aria-hidden="true"></i>
          </div>
          <p class="m-0">{{item.text}}</p>
        </div>
      </div>
      <!-- financial menu -->
      <div *ngIf="financialMenu.length > 0" class="d-flex sidebar-item align-items-center pointer mt-3 p-2 text-white"
        [ngClass]="{'text-dark selected-sidebar-menu' : openFinancialMenu}">
        <i *ngIf="!openFinancialMenu" class="fa fa-angle-down mx-2"></i>
        <i *ngIf="openFinancialMenu" class="fa fa-angle-up mx-2"></i>
        <p class="m-0" (click)="openFinancialMenu = !openFinancialMenu">مالی</p>
      </div>
      <div [ngClass]="{'open-menu d-none': !openFinancialMenu}" class="mr-3">
        <div *ngFor="let item of financialMenu"
          [ngClass]="{'selected-sidebar-menu text-dark': selectedPatientSideBarItem == item.id}"
          class="sidebar-item d-flex align-items-center pointer mt-3 p-2 text-white" [routerLink]="item.link"
          (click)="selectedPatientSideBarItem = item.id;mobileSideBarClose()">
          <div class=" sidebar-item-icon-containter d-flex justify-content-center align-items-center ml-2">
            <i class="{{item.icon}} sidebar-item-icon"
              [ngClass]="{'text-dark': selectedSideBarItem == item.id, 'text-white': selectedSideBarItem != item.id}"
              aria-hidden="true"></i>
          </div>
          <p class="m-0">{{item.text}}</p>
        </div>
      </div>
      <!-- appointment Menu -->
      <div *ngIf="appointmentMenu.length > 0" class="d-flex sidebar-item align-items-center pointer mt-3 p-2 text-white"
        [ngClass]="{'text-dark selected-sidebar-menu' : openAppointmentMenu}">
        <i *ngIf="!openAppointmentMenu" class="fa fa-angle-down mx-2"></i>
        <i *ngIf="openAppointmentMenu" class="fa fa-angle-up mx-2"></i>
        <p class="m-0" (click)="openAppointmentMenu = !openAppointmentMenu">وقت دهی</p>
      </div>
      <div [ngClass]="{'open-menu d-none': !openAppointmentMenu}" class="mr-3">
        <div *ngFor="let item of appointmentMenu"
          [ngClass]="{'selected-sidebar-menu text-dark': selectedPatientSideBarItem == item.id}"
          class="sidebar-item d-flex align-items-center pointer mt-3 p-2 text-white" [routerLink]="item.link"
          (click)="selectedPatientSideBarItem = item.id;mobileSideBarClose()">
          <div class=" sidebar-item-icon-containter d-flex justify-content-center align-items-center ml-2">
            <i class="{{item.icon}} sidebar-item-icon"
              [ngClass]="{'text-dark': selectedSideBarItem == item.id, 'text-white': selectedSideBarItem != item.id}"
              aria-hidden="true"></i>
          </div>
          <p class="m-0">{{item.text}}</p>
        </div>
      </div>


    </div>
    <div class="sidebar-item d-flex align-items-center pointer mt-3 p-2 text-white" (click)="logOut()">
      <i class="fa fa-sign-out ml-2 sidebar-item-icon" aria-hidden="true"></i>
      <p class="m-0">خروج</p>
    </div>
  </div>


  <app-patient-menu *ngIf="hasPatientMenu"></app-patient-menu>
  <div *ngIf="showReportMenu" class="patient-menu px-3">
    <div *ngFor="let item of reportMenu"
      [ngClass]="{'selected-sidebar-menu text-dark': selectedSideBarreportMenuItem == item.id}"
      class="sidebar-item d-flex align-items-center pointer mt-3 p-2 text-secondary"
      [routerLink]="item.link + '/' + patientId" (click)="selectedSideBarreportMenuItem = item.id">
      <i class="{{item.icon}} sidebar-item-icon  ml-2"
        [ngClass]="{'text-dark': selectedSideBarreportMenuItem == item.id, 'text-white': selectedSideBarreportMenuItem != item.id}"
        aria-hidden="true"></i>
      <p class="m-0"
        [ngClass]="{'text-dark': selectedSideBarreportMenuItem == item.id, 'text-white': selectedSideBarreportMenuItem != item.id}">
        {{item.text}}</p>
    </div>
  </div>
</div>