<div class="appContainer">
  <div class="col-12 text-right">
    <h4> اوقات امروز</h4>
  </div>
  <hr>
  <div *ngIf="checkAccess(1)" class="row px-0 d-lg-flex">
    <div class="col-lg-2 col-12 pr-2 my-2">
      <div class="mt-md-0 mt-3">
        <div class="col-12 p-0">
          <p-dropdown [options]="clinicsList" [(ngModel)]="selectedClinic" optionLabel="name"
            class="full-width text-right" (onChange)="getAppointment(appointmentDate)" />
        </div>
        <div *ngIf="userType != 9" class="col-12 p-0 mt-2">
          <p-dropdown [options]="doctorList" [(ngModel)]="selectedDoctor" optionLabel="name"
            class="full-width text-right" (onChange)="getDetailOfDoctore()" />
        </div>
        <div class="col-12 p-0 mt-2 text-right">
          <div>برو به</div>
          <div class="date-navigator col-12 d-flex justify-content-center align-items-center p-0">
            <div class="col-4 p-2 text-center pointer" (click)="changeDate(14)">2</div>
            <div class="col-4 p-2 text-center pointer" (click)="changeDate(28)">4</div>
            <div class="col-4 p-2 text-center pointer" (click)="changeDate(42)">6</div>
          </div>
          <div>هفته بعد</div>
          <div class="date-navigator mt-3 col-12 d-flex justify-content-center align-items-center p-0">
            <div class="col-4 p-2 text-center pointer" (click)="changeDate(90)">3</div>
            <div class="col-4 p-2 text-center pointer" (click)="changeDate(180)">6</div>
            <div class="col-4 p-2 text-center pointer" (click)="changeDate(365)">12</div>
          </div>
          <div>ماه بعد</div>
        </div>
        <div class="mt-3">
          <div id="appointment" class="test-cal">
            <ng-persian-datepicker [uiIsVisible]="isCalendarVisible" [uiHideOnOutsideClick]="false">
              <input type="text" class="form-control d-none" [formControl]="dateNew" />
            </ng-persian-datepicker>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-10 col-12 px-0 my-2">
      <div class="card-style-date p-3">
        <div class="col-12">
          <div class="d-flex mode-selector p-0 my-2">
            <div class="ml-1 p-2 pointer text-center" [ngClass]="{  'selected-mode' :!weekMode}"
              (click)="weekMode = false">
              روزانه</div>
            <div class="mr-1 p-2 pointer text-center" [ngClass]="{  'selected-mode' :weekMode}"
              (click)="weekMode = true">
              هفتگی</div>
          </div>
        </div>
        <div class="col-12 mt-3" *ngIf="!weekMode">
          <div class="d-lg-flex justify-content-between align-items-center mb-3">
            <div class="d-flex align-items-center pointer" (click)="changeDate(1)">
              <i class="fa fa-arrow-right mx-1" aria-hidden="true"></i>
              <p class="mb-0">روز بعد</p>
            </div>
            <div class="text-center">
              <h6 class="mb-0">{{appointmentDate| JustDate}}</h6>
            </div>
            <div class="d-flex align-items-center pointer" (click)="changeDate(-1)">
              <p class="mb-0">روز قبل</p>
              <i class="fa fa-arrow-left mx-1" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Daily mode -->
          <div *ngIf="!weekMode" class="table-scroll col-12">
            <table class="table col-12 table-bordered table-responsive border-0 text-center appointment-grid">
              <thead class="d-flex">
                <tr class="tr-sticky w-100 d-flex">
                  <th class="table-time col-2">ساعت</th>
                  <th class="text-center currentDate-box-table col-10">
                  </th>
                </tr>
              </thead>
              <tbody class="d-flex flex-column">
                <tr class="d-flex" *ngFor="let time of filteredHours">
                  <td class="col-2 d-flex justify-content-center align-items-center">{{time.time}}
                  </td>
                  <td class="col-10 p-2 d-flex appointments-container"
                    [ngClass]="{'bg-muted text-secondary': isBeforeNow || (!isBeforeNow && timeIsBeforeNow(appointmentDate, time.time)), 'bg-not-in-schedule' : !time.isInSchedule}"
                    (click)="setNewAppointment(time)">
                    <div *ngFor="let appointment of timeSheetData[time.time]" class="appointment text-right p-2 pointer"
                      (click)="editAppointment(appointment)">
                      <div class="mt-2">نوع وقت : {{appointment.typeName}}</div>
                      <div class="mt-2">نام بیمار : {{appointment.patientName}}</div>
                      <div class="mt-2">توضیحات : {{appointment.note}}</div>
                      <div class="mt-2">کنسل <span *ngIf="appointment.cancelled">شده</span><span
                          *ngIf="!appointment.cancelled">نشده</span></div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Weekly Mode -->
          <div *ngIf="weekMode" class="table-scroll col-12">
            <table class="table col-12 table-bordered table-responsive border-0 text-center appointment-grid">
              <thead class="d-flex">
                <tr class="tr-sticky w-100 d-flex">
                  <th class="table-time col-2"></th>
                  <th *ngFor="let day of weekDays" class="text-center col-2"
                    [ngClass]="{'today-bg': day.isToday, 'text-muted bg-muted': day.isPast}">
                    <div>{{day.dayName}}</div>
                    <div>{{day.dayNumber}}</div>
                  </th>
                </tr>
              </thead>
              <tbody class="d-flex flex-column">
                <tr class="d-flex" *ngFor="let time of filteredHours; let rowIndex = index">
                  <td class="col-2 d-flex justify-content-center align-items-center">{{time.time}}
                  </td>
                  <td *ngFor="let day of weeklyTimetable[time.time] " class="text-center col-2"
                    [ngClass]="{'today-bg': day.isToday, 'text-muted bg-muted': day.isPast ||(day.isToday && timeIsBeforeNow(day.fullDate, time.time)), 'bg-not-in-schedule' : !day.isInSchedule }"
                    (click)="setWeeklyNewAppointment(day.fullDate,time.time,day.isPast)">
                    <div *ngFor="let appointment of day.dayAppointments">
                      <div class="mt-2">
                        {{appointment.patientName}}</div>
                    </div>
                  </td>
                  <!-- <td class="col-10 p-2 d-flex appointments-container"
                                        (click)="setNewAppointment(time)">
                                        <div *ngFor="let appointment of timeSheetData[time]"
                                            class="appointment text-right p-2 pointer"
                                            (click)="editAppointment(appointment)">
                                            <div class="mt-2">نوع وقت : {{appointment.typeName}}</div>
                                            <div class="mt-2">نام بیمار : {{appointment.patientName}}</div>
                                            <div class="mt-2">توضیحات : {{appointment.note}}</div>
                                            <div class="mt-2">کنسل <span *ngIf="appointment.cancelled">شده</span><span
                                                    *ngIf="!appointment.cancelled">نشده</span></div>
                                        </div>
                                    </td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p-dialog id="new-appointment-modal" header="اختصاص وقت به بیمار" [(visible)]="showNewAppointment" [closable]="true"
    [ngClass]="{'modalShadow' : showNewAppointment}" class="p-2">
    <div class="col-12 new-appointment-modal">
      <div class="col-12 text-right">
        <button *ngIf="!newAppointmentModel?.handelNewPateintStatus" class="btn btn-danger btn-sm"
          (click)="handelNewPateint(1)">ساخت بیمار جدید</button>
        <button *ngIf="newAppointmentModel?.handelNewPateintStatus" class="btn btn-danger btn-sm"
          (click)="handelNewPateint(2)">انصراف</button>
      </div>
      <div class=" col-12 d-flex justify-content-between mt-3">
        <div class="col-3 text-right">نوع وقت</div>
        <div class="col-9">
          <p-dropdown [options]="appointmentTypes" [(ngModel)]="newAppointmentModel.selectedType" optionLabel="name"
            placeholder="نوع وقت را انتخاب کنید" class="full-width text-right" />
        </div>
      </div>
      <div *ngIf="userType != 9" class=" col-12 d-flex justify-content-between mt-3">
        <div class="col-3 text-right"> نام دکتر</div>
        <div class="col-9">
          <p-dropdown [options]="doctorList" [(ngModel)]="selectedDoctor" optionLabel="name"
            class="full-width text-right" (onChange)="getDetailOfDoctore()" />
        </div>
      </div>
      <div *ngIf="!newAppointmentModel?.handelNewPateintStatus" class="col-12 d-flex justify-content-between mt-3">
        <div class="col-3 text-right">انتخاب بیمار</div>
        <div class="col-9">
          <div class="input-group">
            <input [(ngModel)]="searchControl" (keyup.enter)="getFilteredPatient()" type="text" class="form-control"
              placeholder="جستجوی نام یا شناسه" />
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" (click)="getFilteredPatient()">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>

          <ul class="dropdown-list" *ngIf="patientsList.length > 0">
            <li [ngClass]="{'dropdown-selected': newAppointmentModel.selectedPatient == item.patientCode}"
              *ngFor="let item of patientsList" (click)="newAppointmentModel.selectedPatient =item.patientCode">{{
              item.name }}
              (ID: {{ item.patientCode }})</li>
          </ul>
          <!-- <p *ngIf="searchControl && patientsList.length === 0">نتیجه‌ای یافت نشد</p> -->
          <!-- <p-dropdown [options]="patientsList" [(ngModel)]="newAppointmentModel.selectedPatient" optionLabel="name"
            placeholder="بیمار مورد نظر را انتخاب کنید" class="full-width text-right" /> -->
        </div>
      </div>
      <div *ngIf="newAppointmentModel?.handelNewPateintStatus">
        <div class="col-12 d-flex justify-content-between mt-3">
          <div class="col-3 text-right"> نام بیمار</div>
          <div class="col-9">
            <input type="text" name="firstName" [(ngModel)]="newPateint.firstName"
              placeholder="نام بیمار مورد نظر را وارد کنید" class="full-width form-control text-right" />
          </div>
        </div>
        <div class="col-12 d-flex justify-content-between mt-3">
          <div class="col-3 text-right"> نام‌خانوادگی بیمار</div>
          <div class="col-9">
            <input type="text" name="lastName" [(ngModel)]="newPateint.lastName"
              placeholder="نام‌خانوادگی بیمار مورد نظر را وارد کنید" class="full-width form-control  text-right" />
          </div>
        </div>
        <div class="col-12 d-flex justify-content-between mt-3">
          <div class="col-3 text-right"> شماره موبایل بیمار</div>
          <div class="col-9">
            <input type="text" name="mobile" [(ngModel)]="newPateint.mobile"
              placeholder="شماره موبایل بیمار مورد نظر را وارد کنید" class="full-width form-control  text-right" />
          </div>
        </div>
        <div class="col-12 text-center">
          <button class="btn btn-danger text-white px-3 py-1 mx-1" (click)="createPatient()">ذخیره</button>
        </div>
      </div>
      <hr>
      <div class="col-12 text-center mt-3">
        <div class="col-12 d-flex justify-content-between">
          <div class="col-4 text-right">تاریخ</div>
          <div class="col-8">{{newAppointmentModel.appointmentStartTime | JustDateZone}}</div>
        </div>
        <div class="col-12 d-flex justify-content-between mt-2">
          <div class="col-4 text-right">ساعت</div>
          <div class="col-4">از : {{newAppointmentModel.appointmentStartTime | ShamsiTime}}</div>
          <div class="col-4">تا : {{newAppointmentModel.appointmentEndTime | ShamsiTime}}</div>
        </div>
      </div>
      <hr>
      <div class="col-12 mt-3">
        <p class="text-right">یادداشت</p>
        <div>
          <textarea name="description" id="appointment-description" class="col-12"
            [(ngModel)]="newAppointmentModel.note"></textarea>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-between my-3">
        <button class="btn btn-outline-success col-5" (click)="createAppointment()">ثبت</button>
        <button class="btn btn-outline-secondary col-5" (click)="closeNewAppointmentModal()">انصراف</button>
      </div>
    </div>
  </p-dialog>
</div>